<!DOCTYPE html>
<html>
  <head>
    <title>AppReservation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <header>
    <nav class ="navbar Navbar">
       <div class="container-fluid">
         <a href="/"><img class="Navbar__logo" alt="サイトロゴ" src="https://rails-02-sample.herokuapp.com/assets/common/logo.png"></a>
     <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
      </div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
         <a class="navbar-item"></a>
      <% if user_signed_in? %> 
       <% if @user.icon? %>
         <%= image_tag @user.icon.url, class: "icon", style: "border-radius: 30%; width: 50px; height: 50px; object-fit:cover;"%>
       <% else %>
         <p><%= image_tag 'https://rails-02-sample.herokuapp.com/assets/common/default-avatar-7a6cbfd7993e89f24bfc888f4a035a83c6f1428b8bdc47eed9095f2799a40153.png',class: "icon", style: "border-radius: 30%; width: 50px; height: 50px; object-fit:cover;" %></p>
      </div>
      <% end %>
      <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          <%= current_user.name %>
        </button>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
        <li><%= link_to "アカウント", users_show_path(current_user) ,class: "dropdown-item"%></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "dropdown-item"%></li>
        <li><%= link_to "施設登録", new_room_path,class: "dropdown-item"%></li>
        <li><%= link_to "登録済み施設", own_room_path(current_user),class: "dropdown-item"%></li>
        <li><%= link_to "予約一覧", reservations_path,class: "dropdown-item"%></li>
        </ul>
    </div>
    <% else %>
      <!-- ユーザーがログインしていなかった時の処理 -->
      <h2> 現在ログインしていません </h2>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %> <!-- ログイン画面に移行する -->
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %> <!-- 新規登録画面に移行する -->
    <% end %>           
</div>
</div>
</nav>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<hr />
<%= yield %>
</body>
</html>